.root {
    background-color: #437b43;
    background-image: linear-gradient(#3fff3f, #3fff3f);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    padding: 5px;
    border-radius: 4px;
    display: grid;
}
.blockItem {
}
